@model List<EmployeeManagementSystem.Models.Department>

<h2>Department List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.DepartmentID</td>
                
                <td>@department.DepartmentName</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@department.DepartmentID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@department.DepartmentID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@department.DepartmentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
